<div class="indcarousel">
  <div class="indcarousel-col">
      <div class="indcarousel-col-txt-lt">
          <span>
              If you've right skills to match our requirement, you are one step away from grabbing it.
          </span>
          <button class="btn btn-lg" mat-button>Search</button>
      </div>
  </div>
  <div class="indcarousel-col">
      <div class="indcarousel-col-txt-rt">
          <span>
              If you want some work to be done ASAP.We are here to find a right technician for you!
          </span>
          <button class="btn btn-lg" mat-button>Post</button>
      </div>
  </div>
</div>

<div>
  <app-homechild></app-homechild>
</div>